html,
body,
span,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://post-phinf.pstatic.net/MjAxOTEwMjhfMjMw/MDAxNTcyMjQ1MTQ3NDgz.eDnkOita2Wiwa9S6mR-ez0-Fqz4lo80w5Qnozi9cT80g.-J-bZx0_MBetqDuTR6XjWwwK8nKXyh_KEfh3pNyn0Fkg.JPEG/%ED%86%A0%EC%9D%B44_10.jpg?type=w1200");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  cursor: url("img/cursor.png") 36 36, auto;
}

.container {
  width: 90%;
  height: 80vh;
  border: 30px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.contents {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-text {
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  font-size: 7rem;
  text-shadow: 5px 5px 5px black;
  display: flex;
  margin-top: 50px;
}

span {
  margin-right: 50px;
}

.color1 {
  color: #2c2891;
  transform: translateY(-15px);
  animation: textAniUp2 1s ease-in-out infinite;
}

.color2 {
  color: #39a388;
  transform: translateY(15px);
  animation: textAniDown1 1s ease-in-out infinite;
}

.color3 {
  color: #b80257;
  animation: textAniDown1 1s ease-in-out infinite;
  animation-delay: 1.3s;
}

.color4 {
  color: #ffff8f;
  transform: translateY(15px);
  animation: textAniDown2 1s ease-in-out infinite;
  animation-delay: 0.5s;
}

.color5 {
  color: #a287f4;
  animation: textAniUp1 1s ease-in-out infinite;
  animation-delay: 0.8s;
}

@keyframes textAniUp1 {
  0% {
    transform: translate(0%);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translate(0%);
  }
}
@keyframes textAniUp2 {
  0% {
    transform: translate(0%);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translate(0%);
  }
}
@keyframes textAniDown1 {
  0% {
    transform: translate(0%);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translate(0%);
  }
}
@keyframes textAniDown2 {
  0% {
    transform: translate(0%);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translate(0%);
  }
}

.btns {
  display: flex;
}

.btn {
  width: 100px;
  height: 40px;
  border: 6px solid black;
  border-radius: 5px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  color: white;
}

.btn:first-child {
  margin-right: 100px;
}

.btn:hover {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

.screenSize {
  display: none;
}

.screenSize p {
  font-size: 5rem;
}

@media screen and (max-width: 400px) {
  .container {
    display: none;
  }
  .screenSize {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 100vw;
    overflow: hidden;
    touch-action: none;
  }

  span {
    margin: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 100vw;
    overflow: hidden;
    touch-action: none;
  }

  .container-text {
    font-size: 5rem;
  }
  span {
    margin: 10px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100vw;
    overflow: hidden;
    touch-action: none;
  }
  .contents {
    width: 50vw;
    border: 20px;
  }
  .container-text {
    font-size: 2.5rem;
    /* transform: translateX(-30%); */
  }
  span {
    margin: 5px;
  }
}
